// Typography
$base-font-size: 14px !default;
$bold-font-weight: bold !default;
$font-family: 'Nanum Gothic', 'Merriweather', 'PT Serif', Georgia, 'Times New Roman', serif !default;
$line-height: 1.5 !default;
$heading-font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif !default; $heading-font-weight: 900 !default;
$heading-line-height: 1.25 !default;
